In [2]:
import pandas as pd

In [91]:
# read stations.txt into DataFrame
stationsDF = pd.read_fwf('ghcnd-stations.txt', header=None, delimiter=' '
                         , widths=[12,9,10,7,3,31,4,4,6]
                         , names=['StationID', 'Latitude', 'Longitude', 'Elevation',
                                 'State', 'StationName', 'GSN_Flag', 'HCN_CRN_Flag', 'WMO_ID']
                         , dtypes={'WMO_ID':object}
                         )

# set StationID as the index
stationsDF.set_index('StationID', inplace=True)

In [92]:
stationsDF.head()

,Latitude,Longitude,Elevation,State,StationName,GSN_Flag,HCN_CRN_Flag,WMO_ID
StationID,,,,,,,,
ACW00011604,17.1167,-61.7833,10.1,NaN,ST JOHNS COOLIDGE FLD,NaN,NaN,NaN
ACW00011647,17.1333,-61.7833,19.2,NaN,ST JOHNS,NaN,NaN,NaN
AE000041196,25.3330,55.5170,34.0,NaN,SHARJAH INTER. AIRP,GSN,NaN,41196.0
AEM00041194,25.2550,55.3640,10.4,NaN,DUBAI INTL,NaN,NaN,41194.0
AEM00041217,24.4330,54.6510,26.8,NaN,ABU DHABI INTL,NaN,NaN,41217.0

In [93]:
stationsDF[stationsDF['StationName'].str.contains('EPPLEY')]

,Latitude,Longitude,Elevation,State,StationName,GSN_Flag,HCN_CRN_Flag,WMO_ID
StationID,,,,,,,,
USW00014942,41.3103,-95.8992,299.3,NE,OMAHA EPPLEY AIRFIELD,NaN,NaN,72550.0

In [94]:
def countryCode(row):
    return row['temp_StationID'][:2]

stationsDF['temp_StationID'] = stationsDF.index.values
stationsDF['CountryCode']= stationsDF.apply(countryCode, axis=1)
stationsDF.drop(columns=['temp_StationID'],inplace=True)

In [95]:
stationsDF[stationsDF['StationName'].str.contains('EPPLEY')]

,Latitude,Longitude,Elevation,State,StationName,GSN_Flag,HCN_CRN_Flag,WMO_ID,CountryCode
StationID,,,,,,,,,
USW00014942,41.3103,-95.8992,299.3,NE,OMAHA EPPLEY AIRFIELD,NaN,NaN,72550.0,US

In [96]:
stationsDF.to_csv('ghcnd-stations-cleansed.csv',sep='\t')